Package           Version 
----------------- --------
mss               4.0.3   
numpy             1.16.3  
opencv-python     4.1.0.25
Pillow            6.0.0   
pip               19.1.1  
PyAudio           0.2.11  
PyAutoGUI         0.9.42  
PyGetWindow       0.0.5   
PyMsgBox          1.0.6   
PyRect            0.1.4   
PyScreeze         0.1.21  
PyTweening        1.0.3   
setuptools        41.0.1  
SpeechRecognition 3.8.1   
wheel             0.33.4  
